<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Alight!</p>
    <p>Your transcoding job is all done.</p>
    <p>Go <a href="<%= raw(encoding_job_show_url(@encoding_job)) %>">take a look at it.</a></p>
    <p>This is the last email you'll get from us unless you encode another job.</p>
  </body>
</html>