<a ng-click="navigation.encodeAnotherVideo()" class="btn btn-default">Encode another video</a>

<h3>Your Video <small>{{encodingJob.uuid}}</small></h3>

<div ng:if="!hasStatus()">
	<busy-indicator>Fetching video encoding status...</busy-indicator>
</div>

<div ng:if="hasStatus()">
	<wp-encoding-job-status status="firebase"></wp-encoding-job-status>
</div>

<!-- shown when job is finished -->
<div ng:if="hasEncodingJob()">
	<wp-encoding-job-details encoding-job="encodingJob"></wp-encoding-job-details>
	<wp-encoding-job-player encoding-job="encodingJob"></wp-encoding-job-player>
	<wp-encoding-job-download encoding-job="encodingJob"></wp-encoding-job-download>
</div>