$icon-font-path: "fonts/";
@import 'bower_components/sass-bootstrap/lib/bootstrap';

/* module: main */
@import 'modules/main/styles/pages/index';
@import 'modules/main/styles/directives/notifications';

/* module: encoding job */
@import 'modules/encoding_job/styles/pages/new';
@import 'modules/encoding_job/styles/directives/upload_movie';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#title {
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
	}
}