<div class="directive directive_wp_encoding_job_details">
	<div class="list-group">
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Framerate</h4>
			<p class="list-group-item-text">{{encodingJob.frame_rate}}</p>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Resolution</h4>
			<p class="list-group-item-text">{{encodingJob.resolution}}</p>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Bitrate</h4>
			<p class="list-group-item-text">{{encodingJob.video_bitrate}}</p>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Bitrate tolerance</h4>
			<p class="list-group-item-text">{{encodingJob.video_bitrate_tolerance}}</p>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Keyframe interval</h4>
			<p class="list-group-item-text">{{encodingJob.keyframe_interval}}</p>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Start from (seconds)</h4>
			<p class="list-group-item-text">{{encodingJob.seek_time}}</p>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Duration (seconds)</h4>
			<p class="list-group-item-text">{{encodingJob.duration}}</p>
		</div>
	</div>
</div>