<div class="directive directive_wp_form directive_wp_encoding_job_form">
	<form role="form" name="form">
		
		<bootstrap:form:group for="frame_rate" label="Framerate" help="This should match the original framerate of the video you're uploading">
			<input id="frame_rate" class="form-control" type="number" ng:model="model.frame_rate" name="frame_rate" placeholder="24, 30, 48, 60 etc (min: {{settings.MIN_FRAME_RATE}}, max: {{settings.MAX_FRAME_RATE}})" ng-minlength="{{settings.MIN_FRAME_RATE}}" ng-maxlength="{{settings.MAX_FRAME_RATE}}" required>
		</bootstrap:form:group>

		<bootstrap:form:group for="resolution" label="Resolution" help="Scale your video up or down in screen size. Looks best when it matches your original videos resolution.">
			<select class="form-control" id="resolution" ng:model="model.resolution" name="resolution" ng:options="resolution.value as resolution.name for resolution in settings.RESOLUTIONS" required>
				<option value="">-- Please Choose --</option>
			</select>
		</bootstrap:form:group>

		<bootstrap:form:group for="video_bitrate" label="Bitrate" help="This is the target bitrate, higher means better quality but larger file sizes. Try starting at the default value already entered and adjusting it up from that.">
			<input id="video_bitrate" class="form-control" type="number" ng:model="model.video_bitrate" name="video_bitrate" placeholder="(min: {{settings.MIN_BIT_RATE}}, max: {{settings.MAX_BIT_RATE}})" ng-minlength="{{settings.MIN_BIT_RATE}}" ng-maxlength="{{settings.MAX_BIT_RATE}}" required>
		</bootstrap:form:group>

		<bootstrap:form:group for="video_bitrate_tolerance" label="Bitrate tolerance" help="Specifies how far the encoding can deviate from the variable bitrate specified above. Making this too large can increase the filesize or have an adverse effect on the quality.">
			<input id="video_bitrate_tolerance" class="form-control" type="number" ng:model="model.video_bitrate_tolerance" name="video_bitrate_tolerance" placeholder="(min: {{settings.MIN_BIT_RATE_TOLERANCE}}, max: {{settings.MAX_BIT_RATE_TOLERANCE}})" ng-minlength="{{settings.MIN_BIT_RATE_TOLERANCE}}" ng-maxlength="{{settings.MAX_BIT_RATE_TOLERANCE}}" required>
		</bootstrap:form:group>

		<bootstrap:form:group for="keyframe_interval" label="Keyframe interval" help="High values in this will help a small amount with filesize but make seeking in the video harder. Best to leave at the default.">
			<input id="keyframe_interval" class="form-control" type="number" ng:model="model.keyframe_interval" name="keyframe_interval" placeholder="(min: {{settings.MIN_KEYFRAME_INTERVAL}}, max: {{settings.MAX_KEYFRAME_INTERVAL}})" ng-minlength="{{settings.MIN_KEYFRAME_INTERVAL}}" ng-maxlength="{{settings.MAX_KEYFRAME_INTERVAL}}" required>
		</bootstrap:form:group>

		<bootstrap:form:group for="seek_time" label="Start from" help="Where to start encoding from, in seconds">
			<input id="seek_time" class="form-control" type="number" ng:model="model.seek_time" name="seek_time" placeholder="In seconds">
		</bootstrap:form:group>

		<bootstrap:form:group for="duration" label="Duration" help="How long the video should be, in seconds (max: {{settings.MAX_DURATION}} seconds)">
			<input id="duration" class="form-control" type="number" ng:model="model.duration" name="duration" placeholder="In seconds" ng-minlength="{{settings.MIN_DURATION}}" ng-maxlength="{{settings.MAX_DURATION}}" required>
		</bootstrap:form:group>

	</form>
</div>